body {
	width: auto;
	max-width: 600px;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	font-family: "Noto Sans JP", sans-serif;
	text-align: center;
}

#notice-background {
	background-color: #ffdddd;
	padding: 10px;
	border: 2px solid #ff8888;
	border-radius: 10px;
	margin: 6px;
}

#ohayo {
	font-size: 64px;
	font-weight: 500;
}

#shareDescription {
	margin: 25px 0 0 0;
}

footer {
	margin: 50px 20px 0 0;
	text-align: right;
}

.shareButton {
	font-size: 15px;
	position: relative;
	display: inline-block;
	padding: 3px 15px;
	transition: 0s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 100vh
}

.shareButton-twitter {
	color: #fff;
	background-color: #1d9bf0;
}

.shareButton-twitter:hover {
	color: #fff;
	background: #0c7abf;
}
